/* media query
BIGGEST= MIN 1050
MIDDLE= 600 - 1049
SMALLEST = MAX 425
*/

/*
//////////////////// -- Layout -- ////////////////////
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Arial', sans-serif;
    background: #111131;
}


.container {
    margin: 20px 20px;
    display: grid;
}

.block {
    border: 2px solid #2D2D39;
    background: #202049;
    color: #B6B6DC;
    border-radius: 20px;
    padding: 13%;
    margin-bottom: 4%;
}

@media all and (min-width: 601px) {
    .container {
        margin: 20px 5%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 1.5%;
        grid-row-gap: 1.5%;
    }
    
    .block {
        margin-bottom: 0px;
        padding: 13%;   
    }
        
    .div1 { grid-area: 4 / 1 / 5 / 2; }
    .div2 { grid-area: 1 / 1 / 4 / 4; }
    .div3 { grid-area: 4 / 3 / 8 / 4; }
    .div4 { grid-area: 5 / 1 / 7 / 2; }
    .div5 { grid-area: 7 / 1 / 9 / 2; }
    .div6 { grid-area: 4 / 2 / 7 / 3; }
    .div7 { grid-area: 7 / 2 / 9 / 3; }
    .div8 { grid-area: 8 / 3 / 9 / 4; }
}

@media all and (min-width: 1000px) {
    .container {
        margin: 20px 10%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .block {
        margin-bottom: 0px;
        padding: 8%;   
    }
        
    .div1 { grid-area: 1 / 4 / 2 / 5; }
    .div2 { grid-area: 1 / 1 / 4 / 4; }
    .div3 { grid-area: 2 / 4 / 6 / 5; }
    .div4 { grid-area: 4 / 2 / 6 / 3; }
    .div5 { grid-area: 4 / 3 / 6 / 4; }
    .div6 { grid-area: 4 / 1 / 7 / 2; }
    .div7 { grid-area: 6 / 2 / 7 / 4; }
    .div8 { grid-area: 6 / 4 / 7 / 5; }
}




/*
//////////////////// -- 1.Clock -- ////////////////////
*/

.clock {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    text-align: center;
}

@media all and (min-width: 601px) {
    .clock {
        font-size: 30px;
    }
}



/*
//////////////////// -- 2.Intro about me -- ////////////////////
*/




/*
//////////////////// -- 3.About me -- ////////////////////
*/
.about-me {
    font-family: "IBM Plex Mono", serif;
}

.about-me h2 {
    text-align: center;
}

@media all and (min-width: 601px) {
    .about-me {
        font-size: 0.7em;
    }
}



/*
//////////////////// -- 8.Copyright -- ////////////////////
*/

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-size: 15px;
}

@media all and (min-width: 601px) {
    .copyright {
        font-size: 9px;
    }
}