/* media query
BIGGEST= MIN 1000
MIDDLE= 600 - 1049
SMALLEST = MAX 425
*/

/*
//////////////////// -- Layout -- ////////////////////
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Arial', sans-serif;
    background: #111131;
}


.container {
    margin: 20px 20px;
    display: grid;
}

.block {
    border: 2px solid #2D2D39;
    background: #202049;
    color: #B6B6DC;
    border-radius: 20px;
    padding: 10%;
    margin-bottom: 4%;
}

.block:hover {
    box-shadow: 0px 0px 20px 0px rgba(255,0,0,0.47);
}

@media all and (min-width: 601px) {
    .container {
        margin: 20px 5%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 1.5%;
        grid-row-gap: 1.5%;
    }
    
    .block {
        margin-bottom: 0px;
        padding: 13%;   
    }
        
    .div1 { grid-area: 4 / 1 / 5 / 2; }
    .div2 { grid-area: 1 / 1 / 4 / 4; }
    .div3 { grid-area: 4 / 3 / 8 / 4; }
    .div4 { grid-area: 5 / 1 / 7 / 2; }
    .div5 { grid-area: 7 / 1 / 9 / 2; }
    .div6 { grid-area: 4 / 2 / 7 / 3; }
    .div7 { grid-area: 7 / 2 / 9 / 3; }
    .div8 { grid-area: 8 / 3 / 9 / 4; }
}

@media all and (min-width: 1000px) {
    .container {
        margin: 20px 9%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 14vh);
    }

    .block {
        margin-bottom: 0px;
        padding: 8%;   
    }
        
    .div1 { grid-area: 1 / 4 / 2 / 5; }
    .div2 { grid-area: 1 / 1 / 4 / 4; }
    .div3 { grid-area: 2 / 4 / 6 / 5; }
    .div4 { grid-area: 4 / 2 / 6 / 3; }
    .div5 { grid-area: 4 / 3 / 6 / 4; }
    .div6 { grid-area: 4 / 1 / 7 / 2; }
    .div7 { grid-area: 6 / 2 / 7 / 4; }
    .div8 { grid-area: 6 / 4 / 7 / 5; }
}




/*
//////////////////// -- 1.Clock -- ////////////////////
*/

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
}

@media all and (min-width: 601px) {
    .clock {
        font-size: 2rem;
    }
}



/*
//////////////////// -- 2.Intro about me -- ////////////////////
*/

.intro-about-me {
    font-family: "IBM Plex Mono", serif;
    padding: 5%;
}

.intro-about-me h2 {
    font-size: 4vh;
    text-align: center;
    margin-bottom: 20px;
}

.intro-about-me figure {
    display: flex;
    justify-content: center;
}

.intro-about-me .profile-img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    border-radius: 20px;
    object-fit: cover;
    margin-top: 20px;
}

@media all and (min-width: 601px) {
    .intro-about-me {
        padding: 5%;
        display: flex;
        flex-direction: row-reverse;
        gap: 5%;
    }

    .intro-about-me h2 {
        font-size: 4vh;
        text-align: left;
    }

    .intro-about-me .profile-img {
        width: 20vw;
        margin: 0%;
    }
}

@media all and (min-width: 1000px) {
    .intro-about-me .text {
        display: flex;
        flex-direction: column;
    }

    .intro-about-me h2 {
        font-size: 2.5rem;
    }

    .intro-about-me p {
        font-size: 1.3em;
    }

    .intro-about-me .profile-img {
        width: 15vw;
        /* height: 30vh; */
    }
}



/*
//////////////////// -- 3.About me -- ////////////////////
*/

.about-me {
    font-family: "IBM Plex Mono", serif;
}

.about-me h2 {
    text-align: center;
}

@media all and (min-width: 601px) {
    .about-me {
        font-size: 0.7em;
    }
}

@media all and (min-width: 1001px) {
    .about-me {
        font-size: 0.85em;
    }
}



/*
//////////////////// -- 4.My Projects -- ////////////////////
*/

.my-projects {
    font-family: "IBM Plex Mono", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
    font-size: 2em;
    text-decoration: none;
}

@media all and (min-width: 601px) {
    .my-projects {
        padding: 0px 0px;
        font-size: 1.5em;
    }
}



/*
//////////////////// -- 5.Playground -- ////////////////////
*/

.playground {
    font-family: "IBM Plex Mono", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;
    font-size: 2em;
    text-decoration: none;
}

.fa-gamepad {
    margin-top: 10px;
    font-size: 2em;
}

@media all and (min-width: 601px) {
    .playground {
        padding: 0px 0px;
        font-size: 1.5em;
    }

    .fa-gamepad {
        margin-top: 5px;   
        font-size: 1.5em;
    }
}

/*
//////////////////// -- 6.Contact info -- ////////////////////
*/

.contact-info {
    font-family: "IBM Plex Mono", serif;
}

.contact-info h2 {
    font-size: 1.7em;
    text-align: center;
}

.contact-details {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.3em;
}

.contact-section {
    padding-bottom: 20px;
}

.dark-text {
    color: #51516F;
}

.socials a {
    text-decoration: none;
    color: #B6B6DC;
}

@media all and (min-width: 601px) {
    .contact-info {
        padding: 8%;
    }

    .contact-section {
        padding-bottom: 30px;
    }

    .contact-info h2 {
        font-size: 1.2em;
    }

    .contact-details {
        font-size: 0.8em;
    }
}

@media all and (min-width: 1000px) {
    .contact-info h2 {
        font-size: 1em;
    }

    .contact-details {
        font-size: 0.7em;
    }
}

@media all and (min-width: 1200px) {
    .contact-info h2 {
        font-size: 1.5em;
    }

    .contact-details {
        font-size: 1em;
    }
}




/*
//////////////////// -- 7.Links and resume -- ////////////////////
*/

.links-and-resume {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-icon {
    font-size: 4em;
}

.download-resume {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111131;
    border-radius: 15px;
    margin-top: 20px;
    padding: 1em;
    text-decoration: none;
    color: inherit;
}

.download-resume p {
    font-size: 1.5em;
    text-align: center;
    margin: 0px 20px;
}

@media all and (min-width: 601px) {
    .link-icon {
        font-size: 3em;
    }

    .download-resume p {
        font-size: 0.8em;
        margin: 0px 10px;
    }
}

@media all and (min-width: 1000px) {
    .links-and-resume {
        flex-wrap: nowrap; 
        align-items: center; 
        gap: 30px; 
    }

    .download-resume {
        margin-top: -4px;
        width: 100%;
    }

    
    .download-resume p {
        font-size: 1.5em;
        /* margin: 0px 10px; */
        text-align: left;
    } 
}


/*
//////////////////// -- 8.Copyright -- ////////////////////
*/

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-size: 15px;
}

@media all and (min-width: 601px) {
    .copyright {
        font-size: 0.6em;
    }
}